.my-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 44px;
  bottom: 44px;
  .left {
    width: 80px;
    background-color: pink;
    float: left;

  }
  .right {
    margin-left: 90px;
    background-color: yellow;
    .mui-scroll-wrapper {
      left: 90px;
      .mui-scroll {
        position: relative;
      }
    }

  }
}