body,
.mui-content {
  background-color: #fff;
}
body .mui-slider img,
.mui-content .mui-slider img {
  display: block;
}
body .product-title,
.mui-content .product-title {
  padding: 10px;
  font-size: 16px;
}
body .price,
.mui-content .price {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
body .price > .new,
.mui-content .price > .new {
  font-size: 24px;
  color: #ea543d;
}
body .price > .old,
.mui-content .price > .old {
  text-decoration: line-through;
  padding-left: 10px;
  color: #ccc;
}
body .size,
.mui-content .size {
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
body .size > span,
.mui-content .size > span {
  width: 28px;
  height: 28px;
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  line-height: 28px;
  text-align: center;
  margin-right: 3px;
}
body .size > span.activeSize,
.mui-content .size > span.activeSize {
  background-color: #fa672d;
}
body .num,
.mui-content .num {
  padding: 10px;
  overflow: hidden;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
}
body .num > div,
.mui-content .num > div {
  float: left;
  margin-right: 3px;
}
body .num > span,
.mui-content .num > span {
  float: left;
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
}
body .num > input,
.mui-content .num > input {
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  outline: none;
  float: left;
  border-right: none;
  border-left: none;
  border-radius: 0;
  color: #000;
  font-size: 14px;
  padding: 0;
  margin: 0;
  text-align: center;
}
body .num > div:last-of-type,
.mui-content .num > div:last-of-type {
  padding-left: 3px;
}
body .cart,
.mui-content .cart {
  padding: 0 10px 10px 10px;
  overflow: hidden;
}
body .cart > a,
.mui-content .cart > a {
  float: left;
  width: 50%;
  height: 34px;
  line-height: 34px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
body .cart > a:first-of-type,
.mui-content .cart > a:first-of-type {
  background-color: #fa672d;
}
body .cart > a:last-of-type,
.mui-content .cart > a:last-of-type {
  background-color: #991020;
}
