.mui-content .mui-input-group {
  font-size: 14px;
}
.mui-content .mui-input-group .getCode {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  color: #fff;
  padding: 3px 15px;
  background-color: #006699;
}
.mui-content .mui-input-group .mui-button-row {
  padding: 5px 15px;
}
.mui-content .mui-input-group .mui-button-row > button {
  width: 100%;
  display: block;
  background-color: #006699;
}
.mui-content > a {
  display: block;
  text-align: right;
  font-size: 14px;
}
