.mui-content {
  background-color: #fff;
}
.banner > .mui-slider > .mui-slider > div a {
  width: 100%;
}
.banner > .mui-slider > .mui-slider > div a img {
  display: block;
  width: 100%;
}
.banner .mui-slider-indicator {
  bottom: 20px;
}
.navlink {
  padding: 10px;
  overflow: hidden;
}
.navlink > a {
  float: left;
  width: 33.333%;
}
.navlink > a img {
  width: 100%;
  display: block;
}
.brand {
  padding: 0 10px;
}
.brand > a > img {
  width: 100%;
  display: block;
}
.brand > ul {
  padding: 10px 0;
  overflow: hidden;
}
.brand > ul li {
  float: left;
  width: 25%;
}
.brand > ul li > a {
  display: block;
  width: 100%;
}
.brand > ul li > a > img {
  display: block;
  width: 100%;
}
.exercise {
  padding: 0 10px;
}
.exercise > a {
  margin: 10px 0;
  width: 100%;
  display: block;
}
.exercise > a > img {
  width: 100%;
  display: block;
}
.exercise > ul {
  overflow: hidden;
}
.exercise > ul > li {
  width: 50%;
  padding: 5px;
  float: left;
}
.exercise > ul > li > a {
  padding: 3px 3px 10px 3px;
  display: block;
  box-shadow: 0 0 5px #ccc;
  text-align: center;
}
.exercise > ul > li > a > img {
  width: 100%;
  display: block;
}
.exercise > ul > li > a > .text {
  color: #8f8f94;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  display: block;
}
.exercise > ul > li > a > p {
  text-align: center;
}
.exercise > ul > li > a > p > span:first-of-type {
  color: #f20;
  padding-right: 3px;
}
.exercise > ul > li > a > p > span:last-of-type {
  text-decoration: line-through;
  padding-left: 3px;
}
.exercise > ul > li > a > .buy_now {
  background: #006699;
  padding: 6px 12px;
  margin: 0 auto;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}
