<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>letao</title>
    <link rel="stylesheet" href="./assets/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="./assets/fontAwesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="./css/base.css"/>
    <script src="./assets/mui/js/mui.min.js"></script>
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="./assets/artTemplate/template-native.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/address.js"></script>
    <style>
        body {
            background-color: #fff;
        }
        .mui-content {
            background-color: #fff!important;
            font-size: 14px!important;
        }
        .mui-content > a {
            display: block;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body>
<header class="mui-bar mui-bar-nav my-header">
    <a href="javascript:;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">收货地址管理</h1>
    <a class="mui-icon mui-icon-search mui-pull-right"></a>
</header>
<nav class="mui-bar mui-bar-tab footer my-footer">
    <a class="mui-tab-item mui-active" href="index.html">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="category.html">
        <span class="mui-icon mui-icon-bars"></span>
        <span class="mui-tab-label">分类</span>
    </a>
    <a class="mui-tab-item" href="cart.html">
        <span class="mui-icon fa fa-shopping-cart"></span>
        <span class="mui-tab-label">购物车</span>
    </a>
    <a class="mui-tab-item" href="user.html">
        <span class="mui-icon mui-icon-person"></span>
        <span class="mui-tab-label">会员中心</span>
    </a>
</nav>
<div class="mui-content">
    <a href="addAddress.html"> 添加收货地址 </a>
    <ul class="mui-table-view" id="userAddressMessage">

    </ul>


</div>
<script type="text/template" id="addressTmp">
    <% for(var i = 0; i < res.length; i++) { %>
    <li class="mui-table-view-cell mui-media">
        <a href="javascript:;">
            <div class="mui-media-body">
                邮 编: <%=res[i].postCode %> 收货人: <%=res[i].recipients %>
                <p class='mui-ellipsis'><%=res[i].address %><%==res[i].addressDetail %></p>
            </div>
        </a>
    </li>
    <% } %>
</script>
</body>
</html>